.app-frame-header {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 50px;
    background-color: #001529;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    padding: 0px !important;
}

/* 全部 路由 */
.header-page-route {
    display: flex;
}

/* 顶部导航栏 路由样式 */
.page-route-nav-link {
    margin: 0 6px;
    color: rgba(0, 0, 0, .8);
    font-size: 14px;
    line-height: 14px;
}

/* 顶部导航栏 LOGO */
.header-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2em;
    color: #F0F2F5;
}

/* 顶部导航栏 其他 */
.header-page-route-other {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2em;
    color: #F0F2F5;
}

.header-logo-icon {
    margin-right: 2px;
    font-size: 24px;
}