.app-frame-header {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    padding: 0px !important;
}

/* 全部 路由 */
.header-page-route {
    display: flex;
}

/* 顶部导航栏 路由样式 */
.page-route-nav-link {
    margin: 0 6px;
    color: rgba(0, 0, 0, .8);
    font-size: 14px;
    line-height: 14px;
}

/* 路由 被选中 */
.header-page-route .active {
    color: #1677FF;
}

/* 顶部导航栏 LOGO */
.header-logo {
    margin: 0 6px 0 20px;
    width: 100px;
}

/* 顶部导航栏 其他 */
.header-page-route-other {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}